/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
bootstrap/cache/
storage/logs/
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.npm /
public/ClaragonwwwMultiLabstoragelogs/laravel.log
/storage/*.key
/storage/framework/*

# Laravel caches/logs
/storage/framework/
/storage/logs/
/bootstrap/cache/

# Dependencias
/vendor/
/node_modules/

# Basura rara de Windows en public (paths fantasma)
public/C*/

# Laravel caches/logs
/storage/framework/
/storage/logs/
/bootstrap/cache/

# Dependencias
/vendor/
/node_modules/

# Basura rara de Windows en public (paths fantasma)
public/C*/

# Basura rara de Windows
public/C*/
.composer/
